 @{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        
           
     <div id="report">
     <iframe NAME="esquerda" src="@ViewBag.Report" width="1000" height="1000" > </iframe>
    </div>
               
           
      
    </section>
}


