@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        
           
                <h1>@ViewBag.Title.</h1>
               
           
      
    </section>
}
<h3>We suggest the following:</h3>

